.tanpa-bootstrap {
    border: none;
    padding: 20px;
    font-weight: 800;
    background-color: aqua;
    color: aliceblue;
    cursor: pointer;
}
.tanpa-bootstrap:hover {
    background-color: aquamarine;
    color: #333;;
    transform: rotateY(2);
    transition: all .5s;
}